USE [master]
GO
/****** Object:  Database [zapateriaBD]    Script Date: 17/11/2023 7:53:08 ******/
CREATE DATABASE [zapateriaBD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'zapateriaBD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\zapateriaBD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'zapateriaBD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\zapateriaBD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [zapateriaBD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [zapateriaBD]
GO
/****** Object:  Table [dbo].[CatCategoria]    Script Date: 17/11/2023 7:53:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CatCategoria](
	[IdCategoria] [int] IDENTITY(1,1) NOT NULL,
	[NombreCategoria] [nvarchar](80) NOT NULL,
	[Descripcion] [nvarchar](max) NULL,
	[Estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CatColor]    Script Date: 17/11/2023 7:53:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CatColor](
	[IdColor] [int] IDENTITY(1,1) NOT NULL,
	[NombreColor] [nvarchar](50) NOT NULL,
	[Estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdColor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CatDepartamento]    Script Date: 17/11/2023 7:53:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CatDepartamento](
	[IdDepartamento] [int] IDENTITY(1,1) NOT NULL,
	[NombreDepartamento] [nvarchar](80) NOT NULL,
	[Estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDepartamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CatMarca]    Script Date: 17/11/2023 7:53:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CatMarca](
	[IdMarca] [int] IDENTITY(1,1) NOT NULL,
	[NombreMarca] [nvarchar](60) NOT NULL,
	[Estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMarca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CatMaterial]    Script Date: 17/11/2023 7:53:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CatMaterial](
	[IdMaterial] [int] IDENTITY(1,1) NOT NULL,
	[NombreMaterial] [nvarchar](80) NOT NULL,
	[Descripcion] [nvarchar](max) NULL,
	[Estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMaterial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CatMunicipio]    Script Date: 17/11/2023 7:53:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CatMunicipio](
	[IdMunicipio] [int] IDENTITY(1,1) NOT NULL,
	[IdDepartamento] [int] NOT NULL,
	[NombreMunicipio] [nvarchar](80) NOT NULL,
	[Estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMunicipio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CatProducto]    Script Date: 17/11/2023 7:53:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CatProducto](
	[IdProducto] [int] IDENTITY(1,1) NOT NULL,
	[NombreProducto] [nvarchar](100) NOT NULL,
	[PrecioVenta] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CatProveedor]    Script Date: 17/11/2023 7:53:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CatProveedor](
	[IdProveedor] [int] IDENTITY(1,1) NOT NULL,
	[IdDepartamento] [int] NOT NULL,
	[IdMunicipio] [int] NOT NULL,
	[NombreProveedor] [nvarchar](150) NOT NULL,
	[Direccion] [nvarchar](200) NOT NULL,
	[Telefono] [int] NOT NULL,
	[Correo] [nvarchar](150) NULL,
	[Estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CatTalla]    Script Date: 17/11/2023 7:53:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CatTalla](
	[IdTalla] [int] IDENTITY(1,1) NOT NULL,
	[TallaEuropea] [float] NULL,
	[TallaUS] [float] NULL,
	[Estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTalla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblCompra]    Script Date: 17/11/2023 7:53:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCompra](
	[IdCompra] [int] IDENTITY(1,1) NOT NULL,
	[IdProveedor] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[NumFactura] [int] NULL,
	[Lote] [nvarchar](max) NULL,
	[FechaCompra] [date] NOT NULL,
	[Subtotal] [float] NOT NULL,
	[IVA] [float] NULL,
	[Descuento] [float] NULL,
	[Total] [float] NOT NULL,
	[Estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCompra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblDetalleCompra]    Script Date: 17/11/2023 7:53:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDetalleCompra](
	[IdDetalleCompra] [int] IDENTITY(1,1) NOT NULL,
	[IdCompra] [int] NOT NULL,
	[IdInventario] [int] NOT NULL,
	[CantidadProducto] [int] NOT NULL,
	[PrecioUnitario] [float] NOT NULL,
	[Subtotal] [float] NOT NULL,
	[Descuento] [float] NULL,
	[Total] [float] NOT NULL,
	[Estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDetalleCompra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblDetalleInventario]    Script Date: 17/11/2023 7:53:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDetalleInventario](
	[IdDetalleInventario] [int] IDENTITY(1,1) NOT NULL,
	[IdProducto] [int] NOT NULL,
	[IdCategoria] [int] NOT NULL,
	[IdMarca] [int] NOT NULL,
	[IdColor] [int] NOT NULL,
	[IdTalla] [int] NOT NULL,
	[IdMaterial] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDetalleInventario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblDetalleVenta]    Script Date: 17/11/2023 7:53:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDetalleVenta](
	[IdDetalleVenta] [int] IDENTITY(1,1) NOT NULL,
	[IdVenta] [int] NULL,
	[IdInventario] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioVenta] [int] NOT NULL,
	[Descuento] [int] NULL,
	[SubTotal] [int] NOT NULL,
	[Estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDetalleVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblHistorialRefreshToken]    Script Date: 17/11/2023 7:53:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblHistorialRefreshToken](
	[IdHistorialToken] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NULL,
	[Token] [varchar](500) NULL,
	[RefreshToken] [varchar](200) NULL,
	[FechaCreacion] [datetime] NULL,
	[FechaExpiracion] [datetime] NULL,
	[EsActivo]  AS (case when [FechaExpiracion]<getdate() then CONVERT([bit],(0)) else CONVERT([bit],(1)) end),
PRIMARY KEY CLUSTERED 
(
	[IdHistorialToken] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblInventario]    Script Date: 17/11/2023 7:53:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblInventario](
	[IdInventario] [int] IDENTITY(1,1) NOT NULL,
	[IdDetalleInventario] [int] NOT NULL,
	[PrecioCompra] [float] NOT NULL,
	[Existencia] [int] NOT NULL,
	[Descuento] [bit] NOT NULL,
	[DescuentoMax] [int] NOT NULL,
	[FechaIngreso] [date] NULL,
	[CodigoBarra] [int] NULL,
	[Lote] [nvarchar](max) NULL,
	[Estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdInventario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblMovimientoInterno]    Script Date: 17/11/2023 7:53:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMovimientoInterno](
	[IdMovimientoInterno] [int] IDENTITY(1,1) NOT NULL,
	[IdInventario] [int] NOT NULL,
	[TipoMovimiento] [nvarchar](max) NOT NULL,
	[Descripcion] [nvarchar](500) NULL,
	[Cantidad] [int] NULL,
	[Fecha] [date] NOT NULL,
	[Estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMovimientoInterno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblPermiso]    Script Date: 17/11/2023 7:53:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPermiso](
	[IdPermiso] [int] IDENTITY(1,1) NOT NULL,
	[NombrePermiso] [nvarchar](max) NULL,
	[Estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPermiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblRol]    Script Date: 17/11/2023 7:53:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblRol](
	[IdRol] [int] IDENTITY(1,1) NOT NULL,
	[NombreRol] [nvarchar](max) NULL,
	[Estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblRolPermiso]    Script Date: 17/11/2023 7:53:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblRolPermiso](
	[IdRolPermiso] [int] IDENTITY(1,1) NOT NULL,
	[IdRol] [int] NOT NULL,
	[IdPermiso] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRolPermiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUsuario]    Script Date: 17/11/2023 7:53:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUsuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[IdRol] [int] NOT NULL,
	[PrimerNombre] [nvarchar](40) NOT NULL,
	[SegundoNombre] [nvarchar](40) NOT NULL,
	[PrimerApellido] [nvarchar](40) NOT NULL,
	[SegundoApellido] [nvarchar](40) NOT NULL,
	[Email] [nvarchar](150) NULL,
	[NombreUsuario] [nvarchar](100) NOT NULL,
	[ClaveAcceso] [nvarchar](100) NOT NULL,
	[Telefono] [int] NULL,
	[Estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblVenta]    Script Date: 17/11/2023 7:53:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblVenta](
	[IdVenta] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[NumeroFactura] [int] NULL,
	[NombreCliente] [nvarchar](max) NULL,
	[FechaVenta] [date] NOT NULL,
	[SubTotal] [int] NOT NULL,
	[Iva] [float] NULL,
	[Descuento] [int] NULL,
	[Total] [float] NOT NULL,
	[Estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblVista]    Script Date: 17/11/2023 7:53:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblVista](
	[IdVista] [int] IDENTITY(1,1) NOT NULL,
	[IdRol] [int] NOT NULL,
	[urlName] [nvarchar](max) NULL,
	[Estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdVista] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CatCategoria] ON 

INSERT [dbo].[CatCategoria] ([IdCategoria], [NombreCategoria], [Descripcion], [Estado]) VALUES (1, N'Zapatillas Deportivas', N'Calzado diseñado para actividades deportivas', 1)
INSERT [dbo].[CatCategoria] ([IdCategoria], [NombreCategoria], [Descripcion], [Estado]) VALUES (2, N'Zapatos Formales', N'Calzado elegante para ocasiones especiales', 1)
INSERT [dbo].[CatCategoria] ([IdCategoria], [NombreCategoria], [Descripcion], [Estado]) VALUES (3, N'Sandalias', N'Calzado abierto y cómodo para el verano', 1)
SET IDENTITY_INSERT [dbo].[CatCategoria] OFF
GO
SET IDENTITY_INSERT [dbo].[CatColor] ON 

INSERT [dbo].[CatColor] ([IdColor], [NombreColor], [Estado]) VALUES (1, N'Blanco', 1)
INSERT [dbo].[CatColor] ([IdColor], [NombreColor], [Estado]) VALUES (2, N'Negro', 1)
INSERT [dbo].[CatColor] ([IdColor], [NombreColor], [Estado]) VALUES (3, N'Rojo', 1)
SET IDENTITY_INSERT [dbo].[CatColor] OFF
GO
SET IDENTITY_INSERT [dbo].[CatDepartamento] ON 

INSERT [dbo].[CatDepartamento] ([IdDepartamento], [NombreDepartamento], [Estado]) VALUES (1, N'Carazo', 1)
INSERT [dbo].[CatDepartamento] ([IdDepartamento], [NombreDepartamento], [Estado]) VALUES (2, N'Estelí', 1)
INSERT [dbo].[CatDepartamento] ([IdDepartamento], [NombreDepartamento], [Estado]) VALUES (3, N'Granada', 1)
SET IDENTITY_INSERT [dbo].[CatDepartamento] OFF
GO
SET IDENTITY_INSERT [dbo].[CatMarca] ON 

INSERT [dbo].[CatMarca] ([IdMarca], [NombreMarca], [Estado]) VALUES (1, N'Nike', 1)
INSERT [dbo].[CatMarca] ([IdMarca], [NombreMarca], [Estado]) VALUES (2, N'Adidas', 1)
INSERT [dbo].[CatMarca] ([IdMarca], [NombreMarca], [Estado]) VALUES (3, N'Puma', 1)
SET IDENTITY_INSERT [dbo].[CatMarca] OFF
GO
SET IDENTITY_INSERT [dbo].[CatMaterial] ON 

INSERT [dbo].[CatMaterial] ([IdMaterial], [NombreMaterial], [Descripcion], [Estado]) VALUES (1, N'Cuero', N'Un material natural y duradero que se utiliza para hacer zapatos de alta calidad, como los de las marcas Nike, Adidas, Puma y Under Armour.', 1)
INSERT [dbo].[CatMaterial] ([IdMaterial], [NombreMaterial], [Descripcion], [Estado]) VALUES (2, N'Lona', N'Un material ligero y resistente que se utiliza para hacer zapatos casuales y deportivos, como los de las marcas Converse, Vans y Keds.', 1)
INSERT [dbo].[CatMaterial] ([IdMaterial], [NombreMaterial], [Descripcion], [Estado]) VALUES (3, N'Caucho', N'Un material flexible y antideslizante que se utiliza para hacer suelas de zapatos, como los de las marcas Crocs, Havaianas y Birkenstock.', 1)
SET IDENTITY_INSERT [dbo].[CatMaterial] OFF
GO
SET IDENTITY_INSERT [dbo].[CatMunicipio] ON 

INSERT [dbo].[CatMunicipio] ([IdMunicipio], [IdDepartamento], [NombreMunicipio], [Estado]) VALUES (1, 1, N'Diriamba', 1)
INSERT [dbo].[CatMunicipio] ([IdMunicipio], [IdDepartamento], [NombreMunicipio], [Estado]) VALUES (2, 1, N'Nindirí', 1)
INSERT [dbo].[CatMunicipio] ([IdMunicipio], [IdDepartamento], [NombreMunicipio], [Estado]) VALUES (3, 1, N'San Marcos', 1)
SET IDENTITY_INSERT [dbo].[CatMunicipio] OFF
GO
SET IDENTITY_INSERT [dbo].[CatProducto] ON 

INSERT [dbo].[CatProducto] ([IdProducto], [NombreProducto], [PrecioVenta]) VALUES (1, N'Adidas UltraBoost', 800)
INSERT [dbo].[CatProducto] ([IdProducto], [NombreProducto], [PrecioVenta]) VALUES (2, N'Puma RS-X', 620)
INSERT [dbo].[CatProducto] ([IdProducto], [NombreProducto], [PrecioVenta]) VALUES (3, N'Puma Clyde Court', 620)
SET IDENTITY_INSERT [dbo].[CatProducto] OFF
GO
SET IDENTITY_INSERT [dbo].[CatProveedor] ON 

INSERT [dbo].[CatProveedor] ([IdProveedor], [IdDepartamento], [IdMunicipio], [NombreProveedor], [Direccion], [Telefono], [Correo], [Estado]) VALUES (1, 1, 1, N'Zapatería La Elegante', N'Mecado Municipal, Diriamba, Carazo', -3300, N'zapateria.laelegante@gmail.com', 1)
INSERT [dbo].[CatProveedor] ([IdProveedor], [IdDepartamento], [IdMunicipio], [NombreProveedor], [Direccion], [Telefono], [Correo], [Estado]) VALUES (2, 1, 2, N'Zapatería El Buen Gusto', N'Mercado Municipal, Nindirí, Carazo', -4411, N'zapateria.elbuengusto@gmail.com', 1)
INSERT [dbo].[CatProveedor] ([IdProveedor], [IdDepartamento], [IdMunicipio], [NombreProveedor], [Direccion], [Telefono], [Correo], [Estado]) VALUES (3, 1, 3, N'Zapatería La Exclusiva', N'Centro Historico, San Marcos, Carazo', -5522, N'zapateria.laexclusiva@gmail.com', 1)
SET IDENTITY_INSERT [dbo].[CatProveedor] OFF
GO
SET IDENTITY_INSERT [dbo].[CatTalla] ON 

INSERT [dbo].[CatTalla] ([IdTalla], [TallaEuropea], [TallaUS], [Estado]) VALUES (1, 36, 5.5, 1)
INSERT [dbo].[CatTalla] ([IdTalla], [TallaEuropea], [TallaUS], [Estado]) VALUES (2, 37, 6, 1)
INSERT [dbo].[CatTalla] ([IdTalla], [TallaEuropea], [TallaUS], [Estado]) VALUES (3, 38, 6.5, 1)
SET IDENTITY_INSERT [dbo].[CatTalla] OFF
GO
SET IDENTITY_INSERT [dbo].[tblCompra] ON 

INSERT [dbo].[tblCompra] ([IdCompra], [IdProveedor], [IdUsuario], [NumFactura], [Lote], [FechaCompra], [Subtotal], [IVA], [Descuento], [Total], [Estado]) VALUES (1, 1, 1, 5, N'Lote0005', CAST(N'2023-07-05' AS Date), 4000, 0, 0, 4000, 1)
INSERT [dbo].[tblCompra] ([IdCompra], [IdProveedor], [IdUsuario], [NumFactura], [Lote], [FechaCompra], [Subtotal], [IVA], [Descuento], [Total], [Estado]) VALUES (2, 1, 1, 6, N'Lote0006', CAST(N'2023-05-15' AS Date), 4100, 0, 0, 4100, 1)
INSERT [dbo].[tblCompra] ([IdCompra], [IdProveedor], [IdUsuario], [NumFactura], [Lote], [FechaCompra], [Subtotal], [IVA], [Descuento], [Total], [Estado]) VALUES (3, 1, 1, 7, N'Lote0007', CAST(N'2023-07-25' AS Date), 4300, 0, 0, 4300, 1)
SET IDENTITY_INSERT [dbo].[tblCompra] OFF
GO
SET IDENTITY_INSERT [dbo].[tblDetalleCompra] ON 

INSERT [dbo].[tblDetalleCompra] ([IdDetalleCompra], [IdCompra], [IdInventario], [CantidadProducto], [PrecioUnitario], [Subtotal], [Descuento], [Total], [Estado]) VALUES (1, 1, 1, 50, 90, 4500, 450, 4050, 1)
INSERT [dbo].[tblDetalleCompra] ([IdDetalleCompra], [IdCompra], [IdInventario], [CantidadProducto], [PrecioUnitario], [Subtotal], [Descuento], [Total], [Estado]) VALUES (2, 1, 1, 50, 90, 4500, 450, 4050, 1)
SET IDENTITY_INSERT [dbo].[tblDetalleCompra] OFF
GO
SET IDENTITY_INSERT [dbo].[tblDetalleInventario] ON 

INSERT [dbo].[tblDetalleInventario] ([IdDetalleInventario], [IdProducto], [IdCategoria], [IdMarca], [IdColor], [IdTalla], [IdMaterial]) VALUES (1, 1, 1, 2, 1, 1, 1)
INSERT [dbo].[tblDetalleInventario] ([IdDetalleInventario], [IdProducto], [IdCategoria], [IdMarca], [IdColor], [IdTalla], [IdMaterial]) VALUES (2, 2, 1, 3, 2, 2, 2)
INSERT [dbo].[tblDetalleInventario] ([IdDetalleInventario], [IdProducto], [IdCategoria], [IdMarca], [IdColor], [IdTalla], [IdMaterial]) VALUES (3, 3, 2, 3, 3, 3, 3)
SET IDENTITY_INSERT [dbo].[tblDetalleInventario] OFF
GO
SET IDENTITY_INSERT [dbo].[tblDetalleVenta] ON 

INSERT [dbo].[tblDetalleVenta] ([IdDetalleVenta], [IdVenta], [IdInventario], [Cantidad], [PrecioVenta], [Descuento], [SubTotal], [Estado]) VALUES (1, 1, 4, 1, 720, 0, 720, 1)
INSERT [dbo].[tblDetalleVenta] ([IdDetalleVenta], [IdVenta], [IdInventario], [Cantidad], [PrecioVenta], [Descuento], [SubTotal], [Estado]) VALUES (2, 1, 12, 2, 980, 0, 1960, 1)
INSERT [dbo].[tblDetalleVenta] ([IdDetalleVenta], [IdVenta], [IdInventario], [Cantidad], [PrecioVenta], [Descuento], [SubTotal], [Estado]) VALUES (3, 1, 11, 1, 720, 0, 720, 1)
GO
SET IDENTITY_INSERT [dbo].[tblDetalleVenta] OFF
GO
SET IDENTITY_INSERT [dbo].[tblInventario] ON 

INSERT [dbo].[tblInventario] ([IdInventario], [IdDetalleInventario], [PrecioCompra], [Existencia], [Descuento], [DescuentoMax], [FechaIngreso], [CodigoBarra], [Lote], [Estado]) VALUES (1, 1, 750, 50, 0, 0, CAST(N'2023-11-01' AS Date), 123456789, N'LOTE001', 1)
INSERT [dbo].[tblInventario] ([IdInventario], [IdDetalleInventario], [PrecioCompra], [Existencia], [Descuento], [DescuentoMax], [FechaIngreso], [CodigoBarra], [Lote], [Estado]) VALUES (2, 2, 570, 40, 0, 0, CAST(N'2023-11-02' AS Date), 987654321, N'LOTE002', 1)
INSERT [dbo].[tblInventario] ([IdInventario], [IdDetalleInventario], [PrecioCompra], [Existencia], [Descuento], [DescuentoMax], [FechaIngreso], [CodigoBarra], [Lote], [Estado]) VALUES (3, 3, 570, 60, 0, 0, CAST(N'2023-11-03' AS Date), 246813579, N'LOTE003', 1)
SET IDENTITY_INSERT [dbo].[tblInventario] OFF
GO
SET IDENTITY_INSERT [dbo].[tblPermiso] ON 

INSERT [dbo].[tblPermiso] ([IdPermiso], [NombrePermiso], [Estado]) VALUES (1, N'Ver productos', 1)
INSERT [dbo].[tblPermiso] ([IdPermiso], [NombrePermiso], [Estado]) VALUES (2, N'Agregar productos', 1)
INSERT [dbo].[tblPermiso] ([IdPermiso], [NombrePermiso], [Estado]) VALUES (3, N'Editar productos', 1)
SET IDENTITY_INSERT [dbo].[tblPermiso] OFF
GO
SET IDENTITY_INSERT [dbo].[tblRol] ON 

INSERT [dbo].[tblRol] ([IdRol], [NombreRol], [Estado]) VALUES (1, N'Administrador', 1)
INSERT [dbo].[tblRol] ([IdRol], [NombreRol], [Estado]) VALUES (2, N'Empleado', 1)
SET IDENTITY_INSERT [dbo].[tblRol] OFF
GO
SET IDENTITY_INSERT [dbo].[tblRolPermiso] ON 

INSERT [dbo].[tblRolPermiso] ([IdRolPermiso], [IdRol], [IdPermiso]) VALUES (1, 1, 1)
INSERT [dbo].[tblRolPermiso] ([IdRolPermiso], [IdRol], [IdPermiso]) VALUES (2, 1, 2)
INSERT [dbo].[tblRolPermiso] ([IdRolPermiso], [IdRol], [IdPermiso]) VALUES (3, 1, 3)
SET IDENTITY_INSERT [dbo].[tblRolPermiso] OFF
GO
SET IDENTITY_INSERT [dbo].[tblUsuario] ON 

INSERT [dbo].[tblUsuario] ([IdUsuario], [IdRol], [PrimerNombre], [SegundoNombre], [PrimerApellido], [SegundoApellido], [Email], [NombreUsuario], [ClaveAcceso], [Telefono], [Estado]) VALUES (1, 1, N'Juan', N'Carlos', N'López', N'González', N'juan.lopez@example.com', N'juanlopez', N'$2a$12$icScOods84i9peYU3MexqOH.thpX08yy4P5WtC24LXDO0vX8RvpXK', 57778888, 1)
INSERT [dbo].[tblUsuario] ([IdUsuario], [IdRol], [PrimerNombre], [SegundoNombre], [PrimerApellido], [SegundoApellido], [Email], [NombreUsuario], [ClaveAcceso], [Telefono], [Estado]) VALUES (2, 1, N'María', N'Elena', N'Martínez', N'García', N'maria.martinez@example.com', N'mariamartinez', N'$2a$12$c0mWXdn0UxX2I9w9LQqQ9eJBnbpYG1OHfeKkLZNCatOBDQKOT5j46', 57778889, 1)
INSERT [dbo].[tblUsuario] ([IdUsuario], [IdRol], [PrimerNombre], [SegundoNombre], [PrimerApellido], [SegundoApellido], [Email], [NombreUsuario], [ClaveAcceso], [Telefono], [Estado]) VALUES (3, 2, N'Ricardo', N'Antonio', N'Hernández', N'Pérez', N'ricardo.hernandez@example.com', N'ricardohernandez', N'$2a$12$rcagLm2TT8oL7xQZufYS2eQWXhMf1vG8ek4dT4Lq1ALMQlX9zv5li', 57778890, 1)
SET IDENTITY_INSERT [dbo].[tblUsuario] OFF
GO
SET IDENTITY_INSERT [dbo].[tblVenta] ON 

INSERT [dbo].[tblVenta] ([IdVenta], [IdUsuario], [NumeroFactura], [NombreCliente], [FechaVenta], [SubTotal], [Iva], [Descuento], [Total], [Estado]) VALUES (1, 4, 1, N'Jane Smith', CAST(N'2023-05-29' AS Date), 3400, 0, 0, 3400, 1)
INSERT [dbo].[tblVenta] ([IdVenta], [IdUsuario], [NumeroFactura], [NombreCliente], [FechaVenta], [SubTotal], [Iva], [Descuento], [Total], [Estado]) VALUES (2, 2, 2, N'Olivia Miller', CAST(N'2023-06-10' AS Date), 3340, 0, 0, 3340, 1)
INSERT [dbo].[tblVenta] ([IdVenta], [IdUsuario], [NumeroFactura], [NombreCliente], [FechaVenta], [SubTotal], [Iva], [Descuento], [Total], [Estado]) VALUES (3, 2, 3, N'William Davis', CAST(N'2023-01-31' AS Date), 4900, 0, 0, 4900, 1)
GO
SET IDENTITY_INSERT [dbo].[tblVenta] OFF
GO
ALTER TABLE [dbo].[CatMunicipio]  WITH CHECK ADD FOREIGN KEY([IdDepartamento])
REFERENCES [dbo].[CatDepartamento] ([IdDepartamento])
GO
ALTER TABLE [dbo].[CatProveedor]  WITH CHECK ADD FOREIGN KEY([IdDepartamento])
REFERENCES [dbo].[CatDepartamento] ([IdDepartamento])
GO
ALTER TABLE [dbo].[CatProveedor]  WITH CHECK ADD FOREIGN KEY([IdMunicipio])
REFERENCES [dbo].[CatMunicipio] ([IdMunicipio])
GO
ALTER TABLE [dbo].[tblCompra]  WITH CHECK ADD FOREIGN KEY([IdProveedor])
REFERENCES [dbo].[CatProveedor] ([IdProveedor])
GO
ALTER TABLE [dbo].[tblCompra]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[tblUsuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[tblDetalleCompra]  WITH CHECK ADD FOREIGN KEY([IdCompra])
REFERENCES [dbo].[tblCompra] ([IdCompra])
GO
ALTER TABLE [dbo].[tblDetalleCompra]  WITH CHECK ADD FOREIGN KEY([IdInventario])
REFERENCES [dbo].[tblInventario] ([IdInventario])
GO
ALTER TABLE [dbo].[tblDetalleInventario]  WITH CHECK ADD FOREIGN KEY([IdCategoria])
REFERENCES [dbo].[CatCategoria] ([IdCategoria])
GO
ALTER TABLE [dbo].[tblDetalleInventario]  WITH CHECK ADD FOREIGN KEY([IdColor])
REFERENCES [dbo].[CatColor] ([IdColor])
GO
ALTER TABLE [dbo].[tblDetalleInventario]  WITH CHECK ADD FOREIGN KEY([IdMarca])
REFERENCES [dbo].[CatMarca] ([IdMarca])
GO
ALTER TABLE [dbo].[tblDetalleInventario]  WITH CHECK ADD FOREIGN KEY([IdMaterial])
REFERENCES [dbo].[CatMaterial] ([IdMaterial])
GO
ALTER TABLE [dbo].[tblDetalleInventario]  WITH CHECK ADD FOREIGN KEY([IdProducto])
REFERENCES [dbo].[CatProducto] ([IdProducto])
GO
ALTER TABLE [dbo].[tblDetalleInventario]  WITH CHECK ADD FOREIGN KEY([IdTalla])
REFERENCES [dbo].[CatTalla] ([IdTalla])
GO
ALTER TABLE [dbo].[tblDetalleVenta]  WITH CHECK ADD FOREIGN KEY([IdInventario])
REFERENCES [dbo].[tblInventario] ([IdInventario])
GO
ALTER TABLE [dbo].[tblDetalleVenta]  WITH CHECK ADD FOREIGN KEY([IdVenta])
REFERENCES [dbo].[tblVenta] ([IdVenta])
GO
ALTER TABLE [dbo].[tblHistorialRefreshToken]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[tblUsuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[tblInventario]  WITH CHECK ADD FOREIGN KEY([IdDetalleInventario])
REFERENCES [dbo].[tblDetalleInventario] ([IdDetalleInventario])
GO
ALTER TABLE [dbo].[tblMovimientoInterno]  WITH CHECK ADD FOREIGN KEY([IdInventario])
REFERENCES [dbo].[tblInventario] ([IdInventario])
GO
ALTER TABLE [dbo].[tblRolPermiso]  WITH CHECK ADD FOREIGN KEY([IdPermiso])
REFERENCES [dbo].[tblPermiso] ([IdPermiso])
GO
ALTER TABLE [dbo].[tblRolPermiso]  WITH CHECK ADD FOREIGN KEY([IdRol])
REFERENCES [dbo].[tblRol] ([IdRol])
GO
ALTER TABLE [dbo].[tblUsuario]  WITH CHECK ADD FOREIGN KEY([IdRol])
REFERENCES [dbo].[tblRol] ([IdRol])
GO
ALTER TABLE [dbo].[tblVenta]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[tblUsuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[tblVista]  WITH CHECK ADD FOREIGN KEY([IdRol])
REFERENCES [dbo].[tblRol] ([IdRol])
GO
USE [master]
GO
